{% extends "base.html" %}

{% block content %}
<div class="profiles-detail">
  <header class="page-header d-flex">
    <h3 class="page-heading m-0">{{title}}</h3>
    {% if user.is_authenticated and profile.user == user %}
    <div class="btn-group">
      <a href="{{profile.get_update_url}}" class="btn btn-outline-success">EDIT PROFILE</a>
      <a href="{{profile.get_delete_url}}" class="btn btn-danger">DELETE PROFILE</a>
    </div>
    {% endif %}
  </header>
  <hr>
  <div class="profile-detail-inner d-detail-grid">
    <div class=""></div>
    <div class="text-center">
      <img width="400" src="{{profile.get_photo_url}}" alt="#">
      <p class="lead mb-2">{{profile.name}}</p>
      <p class="mb-2 text-muted">{{profile.profession}}</p>
      <p class="text-muted">{{profile.location}}</p>
      <div class="btn-group">
        <a href="{{profile.get_experience_url}}" class="btn btn-outline-primary">TEACHER</a>
        <a href="{{profile.get_education_url}}" class="btn btn-dark">STUDENT</a>


      </div>
    </div>
    <div class=""></div>
  </div>
  <br>
  <hr>
  <br>


</div>
{% endblock content %}