body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:rgb(238, 245, 255);
}

.accounts {
  width: 60%;
  margin: auto;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.d-detail-grid {
  display: grid;
  grid-template-columns: repeat(1fr, 3);
  justify-content: center;
  align-items: center;
}