{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="experience-update" style="width: 60%; margin:auto">
  <header class="page-header d-flex">
    <h3 class="page-heading">Update Experience</h3>
  </header>
  <hr>
  <div class="experience-update-form">
    <form action="" method="POST"> {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-success btn-lg">UPDATE EXPERIENCE</button>
    </form>
  </div>
</div>
{% endblock content %}